body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  background-color: #3d3d40;
}

.product1,
.product2,
.product3 {
  height: auto;
  width: 100%;
}

#item-img {
  width: 400px;
  height: 250px;
  box-shadow: 0 0 4px 2px gray;
  border-radius: 6px;
}

.home-img {
  position: relative;
}

.home-txt {
  position: absolute;
  color: rgb(182, 177, 177);
  top: 10%;
  right: 5%;
  left: 80%;
}
.home-img img {
  height: 42em;
  max-width: 100%;
  width: 100%;
}

.product1,
.product2,
.product3 {
  text-align: center;
  border: 2px solid black;
}

.product1 h3,
.product2 h3,
.product3 h3 {
  text-align: left;
  color: #ccc;
  font-size: 25px;
}

.items {
  display: inline;
}

figure {
  display: inline-block;
}

.nav {
  background-color: #3d3d40;
  padding: 1% 1%;
  height: 50px;
  position: sticky;
  top: 0;
  box-shadow: 3px 3px 2px gray;
}

.nav-left {
  float: left;
  display: inline;
  width: 25%;
  padding-left: 4px;
}
.nav-left span {
  font-family: fantasy;
  font-size: 25px;
  color: rgb(182, 177, 177);
}
.icon-bar {
  display: none;
  position: relative;
  right: 20px;
}
.icon {
  position: sticky;
  float: right;
  color: rgb(182, 177, 177);
}
.show {
  display: none;
  float: right;
  width: 50px;
  background-color: white;
  font-size: small;
}
.show > div {
  margin: 4px 4px;
}
.icon:hover + .show {
  display: block;
}
.show:hover {
  display: block;
}
.nav-links {
  display: inline;
  float: right;
}

.nav-links div {
  display: inline;
  padding: 2px 5px;
}
a {
  text-decoration: none;
  color: rgb(182, 177, 177);
}

a:hover {
  color: blue;
}

a:active {
  color: rgb(182, 177, 177);
}

h2 {
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  background-color: #9595f0;
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

#feedback-txt {
  display: block;
  text-align: center;
  color: #ccc;
  font-size: 25px;
  padding-top: 4px;
}

img {
  max-width: 100%;
}

.up-arrow {
  box-sizing: border-box;
  font-size: 200%;
  background-color: aliceblue;
  width: 1em;
  padding-left: 0.3%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: rgb(182, 177, 177);
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .home-img img {
    height: 30em;
  }
  .icon-bar {
    display: inline;
  }
  .nav-links {
    display: none;
  }
}
