body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  background-color: rgb(64, 199, 199);
}

.product1,
.product2,
.product3 {
  height: auto;
  width: 100%;
}

#item-img {
  width: 400px;
  height: 250px;
  box-shadow: 0 0 4px 2px gray;
  border-radius: 6px;
}

.home-img img {
  height: 42em;
  max-width: 100%;
  width: 100%;
}

.product1,
.product2,
.product3 {
  text-align: center;
  border: 2px solid blue;
}

.product1 h3,
.product2 h3,
.product3 h3 {
  text-align: left;
  text-shadow: 2px 2px 5px red;
  font-size: 25px;
}

.items {
  display: inline;
}

figure {
  display: inline-block;
}

.nav {
  background-color: rgb(64, 199, 199);
  padding: 1% 1%;
  height: 25px;
  position: sticky;
  top: 0;
  box-shadow: 3px 3px 2px gray;
}

.nav-left {
  float: left;
  display: inline;
  width: 25%;
  padding-left: 4px;
}
.nav-left span {
  font-family: fantasy;
  font-size: 25px;
}
.icon-bar {
  display: none;
  position: relative;
  right: 20px;
}
.icon {
  position: sticky;
  float: right;
}
.show {
  display: none;
  float: right;
  width: 10%;
  background-color: white;
}
.show > div {
  margin: 4px 4px;
}
.icon:hover {
}
.icon:hover + .show {
  display: block;
}
.show:hover {
  display: block;
}
.nav-links {
  display: inline;
  float: right;
}

.nav-links div {
  display: inline;
  padding: 2px 5px;
}
a {
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: rgb(252, 86, 9);
}

a:active {
  color: blue;
}

h2 {
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  background-color: blanchedalmond;
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

.feedback {
  height: 350px;
}

#feedback-txt {
  display: block;
  text-align: center;
  text-shadow: 2px 2px 5px red;
  font-size: 25px;
  padding-top: 4px;
}

.feedback-form {
  width: 100%;
}
label {
  display: inline-block;
  width: 25%;
}
.input-fld {
  width: 100%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
#lbl-name,
#lbl-email,
#lbl-msg {
  font-size: larger;
  width: 100%;
  padding-left: 4%;
}

#lbl-msg {
  padding-top: 1em;
}

#name,
#email,
#msg {
  border-radius: 4px;
  width: 75%;
}

#msg {
  height: 80px;
}

#submit {
  margin-left: 45%;
  margin-top: 60px;
  float: left;
  padding: 10px 15px;
  background-color: green;
}
#submit:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.up-arrow {
  box-sizing: border-box;
  font-size: 200%;
  background-color: aliceblue;
  width: 1em;
  padding-left: 0.3%;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .home-img img {
    height: 30em;
  }
  .icon-bar {
    display: inline;
  }
  .nav-links {
    display: none;
  }
}
